<% let Ocount=0, Tcount=0, Lcount=0 , Ccount = 0 %>

  <% allTodos.forEach(element=> { %>
    <% const dueDate=new Date(element.dueDate); %>
    <% if (element.completed === true) { %>
    <% Ccount += 1 %>
    <% } %>
      <% if (dueDate < new Date() && dueDate.toDateString() !==new Date().toDateString() && element.completed === false) { %>
        <% Ocount +=1 %>
          <% } else if (dueDate.toDateString()===new Date().toDateString() && element.completed === false) { %>
            <% Tcount +=1 %>
              <% } else if (dueDate> new Date() && element.completed === false) { %>
                <% Lcount +=1 %>
                  <% } %>
                    <% }) %>
                      
                        <h5>Overdue</h5>  <span class="bg-gray-100 " id="count-overdue"><%= Ocount %></span>
                        
                        <ul class="list-none">
                          <% for( let index=0; index < allTodos.length; index++ ) { %>
                            <% const dueDate=new Date(allTodos[index].dueDate); %>
                              <% if (dueDate < new Date() && dueDate.toDateString() !==new Date().toDateString() && allTodos[index].completed === false) { %>

                                <li class="Todo-Item">
                                  <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                                    <input id="todo-checkbox-<%= allTodos[index].id %>" type="checkbox"
                                      <%=allTodos[index].completed ? 'checked' : '' %>
                                    onclick="setCompletionStatus('<%= String(allTodos[index].id) %>', <%=
                                        allTodos[index].completed %>)"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-100"
                                        />
                                        <label for="todo-checkbox-<%= allTodos[index].id %>"
                                          class="ml-2 text-sm text-gray-600 cursor-pointer">
                                          <%= allTodos[index].title %>
                                        </label>
                                        <a href="#" class="trash-icon  ml-2"
                                          onclick=" remove(<%= allTodos[index].id  %>) ">
                                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                          </svg>
                                        </a>
                                  </div>
                                </li>
                                <% } %>
                                  <% } %>
                        </ul>
                      
                      
                        <h5>Due Today</h5>   <span class="bg-gray-100 " id="count-due-today"><%= Tcount %></span>
                        
                        <ul class="list-none">
                            <% for (let index=0; index < allTodos.length; index++) { %>
                              <% const dueDate=new Date(allTodos[index].dueDate); %>
                                <% const currentDate=new Date(); %>
                                  <% if (dueDate.toDateString()===currentDate.toDateString() && allTodos[index].completed === false) { %>
                                    <li class="Todo-Item">
                                      <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                                        <input id="todo-checkbox-<%= allTodos[index].id %>" type="checkbox"
                                          <%=allTodos[index].completed ? 'checked' : '' %>
                                        onclick="update('<%= String(allTodos[index].id) %>', <%=
                                            allTodos[index].completed %>)"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-100"
                                            />
                                            <label for="todo-checkbox-<%= allTodos[index].id %>"
                                              class="ml-2 text-sm text-gray-600 cursor-pointer">
                                              <%= allTodos[index].title %>
                                            </label>
                                            <a href="#" class="trash-icon  ml-2"
                                              onclick=" remove(<%= allTodos[index].id  %>) ">
                                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                              </svg>
                                            </a>
                                      </div>
                                    </li>
                                    <% } %>
                                      <% } %>
                          </ul>
                      
                
 
                          <h5>Due Later</h5> <span class="bg-gray-100 " id="count-due-later"> <%=Lcount %></span>
                          
                          <ul class="list-none">
                            <% for (let index=0; index < allTodos.length; index++) { %>
                              <% const dueDate=new Date(allTodos[index].dueDate); %>
                                <% if (dueDate> new Date() && dueDate.toDateString()
                                  !==
                                  new
                                  Date().toDateString() && allTodos[index].completed === false)
                                  { %>
                                  <li class="Todo-Item">
                                    <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                                      <input id="todo-checkbox-<%= allTodos[index].id %>" type="checkbox"
                                        <%=allTodos[index].completed ? 'checked' : '' %>
                                      onclick="update('<%= String(allTodos[index].id) %>', <%=
                                          allTodos[index].completed %>)"
                                          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-100"
                                          />
                                          <label for="todo-checkbox-<%= allTodos[index].id %>"
                                            class="ml-2 text-sm text-gray-600 cursor-pointer">
                                            <%= allTodos[index].title %>
                                          </label>
                                          <a href="#" class="trash-icon  ml-2"
                                            onclick=" remove(<%= allTodos[index].id  %>) ">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                              stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                              <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                            </svg>
                                          </a>
                                    
                                  </li>
                                  <% } %>
                                    <% } %>
                          </ul>
                      